<script lang="javascript">
    function refreshNetworkMonitor(){
        var a=document.getElementById("receive");
        $.get("/Monitor/ReceivedBytes","",function(data){
            a.innerText=data;
        })

        var b=document.getElementById("send");
        $.get("/Monitor/SentBytes","",function(data){
            b.innerText=data;
        })
    }
    setInterval(refreshNetworkMonitor,1000);
</script>

<h2>Index</h2>
<p style="color:orangered">@ViewData["Notification"]</p>
<h4>@Html.ActionLink("Launch Process","LaunchProcessResult")</h4>
<table>
    @foreach (NewWebAPP201910.Models.ProcessModel process in (Array)ViewData["UIDList"])
        {
            <tr>
                <td>@Html.ActionLink("Kill Process","KillProcessResult",new{ uid=process.UID})</td><td>@process.ProcessName</td> <td>@process.UID</td>
            </tr>
        }       
</table>

<h4>Network Information</h4>
<p><span style="font-weight:bold;font-size:larger">Receive</span> <span id="receive"></span></p>
<p><span style="font-weight:bold;font-size:larger">Send</span> <span id="send"></span></p>